<!-- 
/**
 * Copyright ©  All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="last-order-container">
    <div class="last-order">
        <p>
            <span class="last-order-product" data-bind="i18n: 'You last purchased this product on'"></span> 
            <span class="last-order-date" data-bind="text: orderDate"></span>
        </p>
        <a class="last-order-link-container" data-bind="attr: { href: orderLink }">
            <span class="last-order-link" data-bind="i18n: 'View this order'"></span> 
        </a>
    </div>
</div>
